  .signUpForm {
    background-color: #FFFFFF;
  }
  .copyright {
    background: #A9A9A9;
    color: white;
    text-align: center;
  }
  .buttonAlign {
    padding: 10px;
    text-align: center;
  }
  .buttonColor {
    background: #2a52be;
  }
  .navBarCustom {
    background: #A9A9A9;
  }
  .jumbotron {
    text-align: center;
  }
  .image-resize {
    width: 450;
    height: 300;
  }
  .description {
    padding: 15px;
    text-align: center;
  }
  .ceruleanLogo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  body {
    padding-top: 60px;
    background-color: #e9ecef;
  }
