  .signUpForm {
    background-color: #FFFFFF;
  }
  .copyright {
    background: #A9A9A9;
    color: white;
    text-align: center;
  }
  .buttonAlign {
    padding: 10px;
    text-align: center;
  }
  .buttonColor {
    background: #2a52be;
  }
  .anchorColor {
    color: black;
  }
  .navBarCustom {
    background: #A9A9A9;
  }
  .trackingForm {
    text-align: center;
  }
  .jumbotron {
    text-align: center;
  }
  .image-resize {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400;
    height: 250;
  }
  .image-resize_standard {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000;
    height: 250;
  }
  .trackingNumber2 {
    padding-top: 70px;
    padding-bottom: 70px;
    margin: auto;
    text-align: center;
  }
  .dropdown-menu {
    width: 250px !important;
  }
  .ceruleanLogo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .copyRightDefault {
    color: white;
  }

  .border_color {
    border-color: #e59400;
  }
  .text_special {
    color: #2a52be;
  }
  .image_header {
    padding-top: 130px;
  }
  .thead-cerulean {
    background-color: #2A52BE;
    color: white;
  }
  .commentId {
    height: auto;
  }
  .addedSpace {
    padding-top: 10000000px;
  }
  body {
    padding-top: 100px;
    background-color: #e9ecef;
  }
  footer {
    padding-top: 100px;
    position: fixed;
    bottom: 0;
  }
